@import 'styles/_colors.scss';

.button {
   display: grid;
   justify-content: center;
   align-content: center;
   align-self: center;
   width: 60%;
   background-color: $coral;
   border: none;
   outline: none;
   height: 5vh;
   border-radius: 10px;
   color: $white;
   text-transform: uppercase;
   font-weight: bold;
   margin: 2rem;
   cursor: pointer;

   * {
      justify-self: center;
      align-self: center;
   }
}
