.toast {
   width: 80vw !important;
   margin-top: 1rem !important;
   position: absolute !important;
   top: 0 !important;
   left: 50% !important;
   transform: translate(-50%, 0) !important;
}

.Toastify__toast {
   margin-bottom: 0.5rem !important;
}
