@import 'styles/_colors.scss';

.input {
   display: grid;
   grid-template-columns: 15% 85%;
   align-self: center;
   padding: 0 0.4rem;
   position: relative;
   height: 2.5rem;
   background-color: $background;
   margin: 0.5rem 0 0.5rem;
   border-radius: 50px;
   border: 1px solid $border;

   &__icon {
      width: 1.1rem;
      background-color: transparent;
      align-self: center;
      justify-self: center;
      text-align: center;
      line-height: 55px;
      color: $verde;
   }

   &__field {
      background: none;
      outline: none;
      border: none;
      line-height: 1;
      font-weight: 500;
      font-size: 1.1rem;
      color: $black;

      ::placeholder {
         color: $border;
      }
   }
}

.error {
   animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
   transform: translate3d(0, 0, 0);
   border: 1px solid $error !important;
}

@keyframes shake {
   10%,
   90% {
      transform: translate3d(-1px, 0, 0);
   }

   20%,
   80% {
      transform: translate3d(2px, 0, 0);
   }

   30%,
   50%,
   70% {
      transform: translate3d(-4px, 0, 0);
   }

   40%,
   60% {
      transform: translate3d(4px, 0, 0);
   }
}
