@import 'styles/_colors.scss';

.newTravel-place {
   display: grid;
   grid-template-columns: 30% 70%;
   grid-auto-rows: minmax(min-content, max-content);
   border: 1px solid $border;
   border-radius: 10px;
   overflow: scroll;
   background-color: $white;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

   &-clicked {
      border: 4px solid $verde;
      font-weight: bold;
   }

   &__img {
      width: 100%;
      height: 10vh;
      object-fit: cover;
   }

   &__title {
      margin: 0 1rem 0 1rem;
      text-align: center;
      align-self: center;
   }
}
