@import 'styles/_colors.scss';

.listuser {
   display: grid;
   justify-content: center;
   grid-auto-rows: minmax(min-content, max-content);
   row-gap: 1rem;

   &__user {
      margin: 0;
      text-align: center;
      padding: 1rem;
      border: 1px solid $border;
      border-radius: 10px;
      background-color: $white;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   }
}
