.expenses__type-counts {
   justify-self: center;
   align-self: center;
   width: 100%;
   display: grid;
   justify-content: center;

   .item {
      display: grid;
      grid-template-columns: minmax(min-content, max-content) minmax(
            min-content,
            max-content
         );
      column-gap: 0.2rem;

      p {
         margin: 1rem 0 0 0;
      }

      .expenses__user {
         font-weight: bold;
      }
   }
}
